/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  height: 100vh;
  width: 100%;
  background-image: url("/banners/bannerPinUp.webp");
  background-size: cover;
  background-position: top;
}

.bannerTitle {
  text-align: center;
}

.bannerButton {
  background-color: #4a90e2;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bannerButton:hover {
  background-color: #3578c9;
}
